<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
	<title>Sobre Nós</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/global.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/contato-sobre.css}" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <header>
        <div th:replace="~{fragments/navbar :: navbar}"></div>
    </header>
    <main>
        <div class="clearfix">
            <img src="/img/equipe600px.jpg" class="col-md-6 float-md-end mb-3 ms-md-3"
                alt="imagem valores">

            <div id="sobre">
                <h2>Sobre nós <i class="fa-solid fa-users"></i></h2>
                <p> Bem-vindos à Despertar Cursos, uma empresa dedicada a proporcionar oportunidades de aprendizado
                    transformador para pessoas de baixa renda e fragilizadas socialmente. Nós acreditamos que a educação
                    é um direito fundamental que deve estar ao alcance de todos, independentemente de suas
                    circunstâncias. Fundada com a paixão por igualdade e empoderamento, a Despertar Cursos está
                    empenhada em criar um impacto positivo duradouro nas vidas daqueles que enfrentam barreiras
                    significativas para o acesso à educação de qualidade.</p>
            </div>

            <div id="missao">
                <h2>Missão <i class="fa-solid fa-bullseye"></i></h2>
                <p>Nossa missão é oferecer cursos de alta qualidade, acessíveis e relevantes, capacitando indivíduos que
                    muitas vezes são marginalizados pela sociedade devido às suas condições socioeconômicas. Buscamos
                    despertar o potencial adormecido em cada pessoa, proporcionando as ferramentas necessárias para que
                    elas alcancem seus objetivos, sonhos e aspirações, sem considerar suas origens ou limitações.</p>
            </div>

            <div id="visao">
                <h2>Visão <i class="fa-solid fa-eye"></i></h2>
                <p>Nossa visão é ser reconhecida como líder no fornecimento de cursos online inovadores que combinam
                    excelência acadêmica com aplicabilidade prática. Ambicionamos criar uma comunidade global de alunos
                    apaixonados, que escolhem a Despertar Cursos como seu destino preferido para aprendizado contínuo.
                    Buscamos constantemente explorar novas áreas de conhecimento e expandir nossa presença para impactar
                    positivamente vidas em todo o mundo.</p>
            </div>

            <div id="valores">
                <h2>Valores <i class="fa-solid fa-heart"></i></h2>
                <ul>
                    <li><strong>Acessibilidade:</strong> Acreditamos que a educação não deve ser um privilégio, mas sim
                        um direito. Estamos comprometidos em remover as barreiras financeiras e geográficas que impedem
                        o acesso ao aprendizado.</li>
                    <li><strong>Empoderamento:</strong> Buscamos empoderar nossos alunos, ajudando-os a desenvolver
                        confiança e habilidades que lhes permitam superar desafios e alcançar seus objetivos pessoais e
                        profissionais.</li>
                    <li><strong>Inclusão:</strong> Valorizamos a diversidade e a inclusão em todos os aspectos. Criamos
                        um ambiente onde todas as vozes são ouvidas e respeitadas, independentemente de origem étnica,
                        gênero, idade ou capacidade.</li>
                    <li><strong>Excelência:</strong> Buscamos a excelência em tudo o que fazemos. Nossos cursos são
                        cuidadosamente elaborados por especialistas em suas áreas, garantindo a qualidade e relevância
                        do conteúdo.</li>
                    <li><strong>Colaboração:</strong> Reconhecemos que a jornada educacional é um esforço conjunto.
                        Trabalhamos em parceria com organizações locais, instrutores voluntários e doadores para ampliar
                        nosso impacto e alcance.</li>
                    <li><strong>Impacto Social:</strong> Medimos nosso sucesso não apenas pelo crescimento da empresa,
                        mas também pelo impacto positivo que causamos nas vidas das pessoas que atendemos e nas
                        comunidades que servimos.</li>
                </ul>
            </div>
        </div>
        <footer>
            <p>&copy; Despertar Cursos | Todos os Direitos Reservados</p>
        </footer>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
<script src="JAVASCRIPT/aula1.js"></script>
<script src="https://kit.fontawesome.com/cf177816ee.js" crossorigin="anonymous"></script>

</html>