.container-fluid{
   padding-top: 70px;
   padding-bottom: 70px;

   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
h1 {
    text-align: center;
}

.container {
	color:white;
	margin-top: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 5);
    padding-bottom: 15px;
    background-color: #1a3fad;
	
}
.container {
    width: 400px !important;
}

h1 {
	color: white !important;
	
}

.form-group {
	margin-bottom: 10px;
	text-align: left;
}

label {
	display: inline-flex;
	font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="name"] {
	width: 100%;
	padding: 5px;
	border: 2px solid #007BFF;
	border-radius: 5px;
}

button {
	background-color: #007BFF;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #0056b3;
}
#emailHelp{
    color: #fff;
}

.container-fluid{
	background-image: url("/img/site-bg-2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 
}