@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

header {
  width: 100%;
}

nav a:hover {
  text-decoration: underline;
}

.card {
  overflow: hidden;
}

.card-imgs {
  transition: 500ms ease;
  height: 300px;
}

.card-imgs:is( :hover, :focus-within ){
  transform: scale(1.1);
  cursor: pointer;
}

.btn-card{
	margin-bottom: 10px;	
}


h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 8px;

}

.cards-price {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: 0px;
  right: 0;
  padding: 3px 7px;
  border-radius: 2px;
  background-color: rgba(8, 247, 8, 0.5);
  color: black;
  font-weight:500;
}

.footer {
  text-align: center;
  height: 50px;
  padding-top: 12px;
  margin-top: 60px;
}

@media (max-width: 992px) {
  .card-imgs {
    height: 230px;
  }
}