.carousel-item img {
  object-fit: cover;
  height: 450px;
  cursor: pointer;
}

.carousel-text {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  top: 60px;
  right: 14px;
  z-index: 1;
  font-size: 5.6vw;
  padding: 6px;
  border-radius: 50%;
  background-color: rgba(231, 231, 231, 0.493);
}

.btn-add-card{
	display: flex; 
	justify-content: center; 
	width: 100%;
	padding: 2px 0px;
}


.nacional-title {
  background-image: linear-gradient(to right,green , #ffff00, blue);
  color: white;
  margin: 0;
  padding: 4px 0 4px 8px;
}

.internacional-title {
  background-image: linear-gradient(to right,blue , red, green, orange);
  color: white;
  margin: 0;
  margin-top: 50px;
}

h2 img {
  margin-bottom: 5px;
}

.pagamento {
  font-size: 34px;
  color: green;
}

@media (max-width: 992px) {
   .carousel-item img{
    height: 340px;
  }
}

