<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
	<title>Reserva</title>
	<link rel="shortcut icon" href="/imagens/pro_agency_k5D_icon.ico" type="image/x-icon">
	<!-- Styles -->
	<link rel="stylesheet" href="/css/global.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/reserva.css">

</head>

<body>
	<header>
		<nav th:replace="~{fragments/_navbar :: nav}"></nav>
	</header>

	<main>
		<section>
			<div class="container-info">
				<div class="col">
					<form th:action="@{/reserve/save/{destinyId}(destinyId=${destiny.id})}" th:object="${reserve}" method="post">
						<div class="card-destino">
							<img class="img-place" height="530px" width="450px" th:src="${destiny.imgUrl}">
							<div class="info-reserva">
								<div class="title-container">
									<h1 th:text="${destiny.name}"></h1>
									<img height="28px" src="/imagens/rating-50.png">
								</div>

								<div class="inputs">
									<div style="text-align: right;"><span class="valor">R$ <span th:text="${#numbers.formatDecimal(destiny.price, 2, 'POINT',2, 'COMMA')}"></span></span></div>
								</div>

								<div class="inputs">
									<label for="cartao" class="cartao-label">Número do Cartão:</label>
									<input type="text" id="cartao" name="cartao" class="cartao-input" required>

									<label for="codigo" class="codigo-label">Código do Cartão:</label>
									<input type="text" id="codigo" name="codigo" class="codigo-input" required>

								</div>

								<div class="inputs">
									<label class="label" for="Datada viagem ">Data da viagem: </label>
									<input type="date" th:field="*{date_travel}" required>
								</div>

								<div class="reservar-div">
									<button type="submit" class="btn btn-primary button">Reservar</button>
									<img width="382px" src="/imagens/forma-pagamento.png">
								</div>
					</form>
				</div>
			</div>
			</div>
			</div>
		</section>
	</main>

	<script src="script/script.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
</body>

</html>