<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="imagens/pro_agency_k5D_icon.ico" type="image/x-icon">
  <title>Destino</title>

  <link rel="stylesheet" href="css/global.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/destino.css">

</head>
<body>
  <header>
    <nav class="navbar bg-dark navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand text-decoration-underline text-white fs-5" href="home.html">Pro Agency</a>
        <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link fs-6 text-white" aria-current="page" href="home.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-6 text-white" href="promocoes.html">Promoções</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-6 text-warning" href="destino.html">Destino</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link fs-6 dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Mais
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="contato.html">contato</a></li>
                <li><a class="dropdown-item" href="ListarController?nome=" id="perfilLink">perfil</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <section>
      <div class="container-info">
        <div class="col">
          <div class="card-destino">
            <img class="img-place" width="470px"src="imagens/disney.jpg" alt="Foz do Iguaçu">          
            <div class="info-reserva">
              <div class="title-container">
                <h1>Disney</h1>
                <img height="28px" src="imagens/rating-50.png">
              </div>

              <div class="inputs">
                <div style="  text-align: right;"><span class="valor">R$ 2.000,00</span></div>
              </div>

              <div class="inputs">
                <label for="cartao" class="cartao-label">Número do Cartão:</label>
                <input type="text" id="cartao" name="cartao" class="cartao-input">

                <label for="codigo" class="codigo-label">Código do Cartão:</label>
                <input type="text" id="codigo" name="codigo" class="codigo-input">

              </div>

              <div class="inputs">
                <label class="label" for="Datada viagem ">Data da viagem: </label>
                <input type="date">
              </div>
  
              <div class="reservar-div">
                <button class="btn btn-primary button">Reservar</button>
                <img width="310px" src="imagens/forma-pagamento.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script src="script/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>